.ABN {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


h1 {
  color: #FFFFFA;
  font-family: Inter;
  font-size: 68px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}

h2 {
  color: #FFFFFA;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  }

h3 {
  color: #FFFFFA;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  text-align: left;

}

h4 {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 
}

h5 {
  color: #FFFFFA;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; 
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}

h6 {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
p {
  color: #FFFFFA;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

section {
  z-index: 0;
}

.container-40 .content  p,  
.whyus .content  p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-align: left;
}


.header {
  color: #ffffff;
  padding: 20px ;
  right: 0;
  position: relative;
  background: transparent;
  margin: 15px 0;
}


.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  margin-left: 1.5%;
  width: 95%;
  height: 2px;  
  background-color: #fffffa24; 
}


.top-gradient {
  position: absolute;
  top: -20%; /* Adjusted to account for body margin */
  height: 30px;
  width: 96%;
  z-index: 0;
}

.bottom-gradient {
  width: 1146px;
  height: 1182px;
  position: absolute;
  margin: 0 !important;
  bottom: 0px;
  left: -7%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: -1;
}


.services-gradient {
  position: absolute; 
  overflow: hidden;
  top: 18%; 
  left: -7%;
  object-fit: cover;
  z-index: -1;
}

.services-gradient, .bottom-gradient, .top-gradient   img {
  width: 100%;
  height: auto; 
  display: block;
  pointer-events: none;

}

.ABN-Job .services-gradient {
  top: -7%;
}

.ABN-appdev .services-gradient {
  top: -9%;
}

.ABN-appdev .methodologies .services-gradient {
  top: 20%;
}


.ABN-Staffing .services-gradient {
  top: 38%;
  left: -7%;
}

.mobile-nav {
  display: none;
}

.nav-wrapper .navbar .submenu ,
.navbar .submenu-2 {
  display: none; 
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px ;

}

.nav-wrapper input[type="checkbox"] {
  display: none;
}


.nav-wrapper div ul {
  list-style: none;
  display: flex;
  padding: 0; 
  margin: 0;
  gap: 120px;
  align-items: center;
}


.nav-wrapper div ul li a,
.navbar label,
.products-label,
.services-label  {  
  text-decoration: none;
  font-size: min(max(12px, calc(0.9rem + 0.5vw)), 16px); 
  position: relative;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #fffffa;
  white-space: nowrap;
  cursor: pointer; 
  z-index: 22;
}



/* Gradient For Navigation bar - On-Page effect */
.label-gradient,
.footer-container a:hover,
.navbar ul li a:hover,
.staffing-page .navbar ul li a[href="staffing.html"],
.appdev-page .navbar ul li a[href="app-development.html"],
.dataengg-page .navbar ul li a[href="data-engineering-data-analytics.html"],
.ABN-Infra .navbar ul li a[href="infrastructure.html"],
.ABN-Mobile .navbar ul li a[href="mobile-appdev.html"],
.tempstaffing-page .navbar ul li a[href="temperory-staffing.html"],
.ABN-Contract .navbar ul li a[href="contract-to-hire.html"],
.ABN-Permanent .navbar ul li a[href="permanent-staffing.html"],
.ABN-TechnicalStaffing .navbar ul li a[href="technical-industrial-staffing.html"],
.ABN-ManagedServices .navbar ul li a[href="managed-services.html"],
.about-page .navbar ul li a[href="about.html"],
.careers-page .navbar ul li a[href="careers.html"] {
  background: linear-gradient(90deg, #33A8D4 0%, #FDE14D 100%);
  background-clip: text;
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent ;
  font-weight: 800;
}

/* UNDERLINE For Navigation bar - On-Page effect */
.underline::after,
.contactus-page .link-get-in-touch::after,
.about-page .navbar ul li a[href="about.html"]::after,
.contactus-page .navbar ul li a[href="contact-us.html"]::after,
.careers-page .navbar ul li a[href="careers.html"]::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  display: block;
  border-bottom: 2px solid white;
}

.hover-effect,
.navbar ul li a.link-get-in-touch:hover{
  background: white;
  background-color: white;
  background-clip: text;
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent ;
}



.nav-wrapper .submenu {
  position: absolute;
  top: -150%;
  left: -5%;
  right: 0;
  width: 100vw;
  z-index: 20;
  background-color: black; 
  display: flex;
  justify-content: space-around; 
  gap:0px;
  padding-top: calc(5% + 150px);
  padding-bottom: 10%;
  padding-right: 4%;
  overflow: hidden;
}

.nav-wrapper .products-menu .submenu a {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #FFF;
  background: transparent;
  max-width: 250px;
  height: 190px;
  flex-shrink: 0;
  align-items: center;
  width: calc(100% - 5px);
 
}


.nav-sm-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-sm-container img { 
  margin-bottom: 10px; 
}

.nav-wrapper .submenu ul {
  display: flex;
  flex-direction: column; 
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: baseline;
  gap:0;
}

.nav-wrapper .submenu > li {
  display: flex;
  flex-direction: row; 

}

.nav-wrapper  .submenu ul li {
  margin-bottom: 5px; 
}

.nav-wrapper .submenu a {
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal; 
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.nav-wrapper .products-menu .submenu a:hover {
  background-color: #fffffa24 ;
  background-clip: unset;
  -webkit-background-clip: unset ;
  -webkit-text-fill-color: unset ;
}

.nav-wrapper .services-menu .submenu a:hover {
  background: linear-gradient(90deg, #33A8D4 0%, #FDE14D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}


.nav-wrapper .navbar .services-menu:hover .submenu {
  display: block;
}

.nav-wrapper  .navbar .submenu li {
  padding: 10px;
}


.logo-link {
  position: absolute;
  top: 17px;
  left: 55px;
  
}

.logo {
  position: absolute;
  width: 117px;
  height: 35px;
  z-index: 22;

}

.tech-corp {
  position: absolute;
  height: 12px;
  top: 43px;
  left: 57px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 9.1px;
  letter-spacing: 8.38px;
  line-height: 11.9px;
  white-space: nowrap;
  z-index: 22;
}


.link {
  position: relative;
  width: 6px;
  height: 6px;
  top: 10px;
  right: 15px;
  background-color: #e9792f;
  z-index: 22;
}

.link-get-in-touch {
  bottom: 3px;
  background: linear-gradient(180deg, rgb(233, 121, 47) 0%, rgb(253, 225, 77) 100%);
  background-clip: text ;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  z-index: 22;
}


.menu-icon {
  display: none; /* Hidden by default */
  font-size: 30px; /* Adjust size as needed */
  cursor: pointer;
  position: absolute; /* Position icon on the left */
  top: -20px;
  left: -40px;
  z-index: 2; /* Ensure it's above other content */
}


.footer-line{
  position: absolute;
  height: 2px;
  width: calc(100% - 120px);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: #fffffa24;
}

.footer-container {
  font-family: "Inter", Helvetica;
  color: transparent;
  background-color: transparent;
  z-index: 2; 
  position: relative;  /* Added for gradient */
}

.footer-main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-container a {
  text-decoration: none;
  color: #FFFFFA;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

}


.footer-section {
  flex: 1; 
  margin-right: 20px; 
  color: #fffffa;

}

.footer-section:last-child {
  margin-right: 0;
}

.footer-section h3 {
  font-weight: 700;
  font-size: 15.8px;
  letter-spacing: 3px;
  line-height: 32px;
  white-space: nowrap;
  color: #fffffa;
  padding-bottom: 10pxx;

}


.footer-section p,
.footer-section ul,
.footer-section li {
  line-height: 2; 
}

.footer-section ul {
  list-style-type: none; 
  padding: 0; 
}

.footer-section li:not(:last-child) {
  margin-bottom: 5px; 
}

.footer-section .footer-logo {
  text-align: right; 
  
}

.footer-logo img {
  border-radius: 10px;
  background: #F3F3F3;
  display: flex;
  width: 210px;
  padding: 10px 21.5px 18px 21.5px;
  justify-content: center;
  align-items: center;
  }

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fffffa;
  text-decoration: none;
}

.footer-bottom p {
  font-size: 12px;
}

.copyright-link {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #fffffa;
  font-size: 15.5px;
  letter-spacing: 0;
  line-height: 48px;
  white-space: nowrap;

}

.social-icon {
  margin-right: 10px; 

}
input[type="checkbox"]{
  display: none;
}


/* Main Container */ 
.main-container {
  max-width: 100vw;
  margin: auto; /* Center the container */
  padding: 0;  
  width: 100%;
  margin-left: 0;
  box-sizing: border-box;
  display: flex; /* Enables flexbox for direct children */
  flex-direction: column; 
  position: relative;

}

section {
  margin-bottom: calc(6vw + 2vw)

}

.hero {
  margin-top: 150px; 
  width: 100%; /* Ensures section fills width of main-container */
  display: flex; /* Aligns SVGs within the hero section */
  justify-content: space-between; /* Spreads out children (SVGs) */
  align-items: start; /* Aligns children to the top */
  position: relative;
  padding-bottom: 45%;
 
}

.hero-vector {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; 
  z-index: 1; 
  max-width: 100%;
  top: -100px;
}

.hero-vector object {
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 1%;
}


.container {
  background: #161825;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: calc(33.333% - 40px);
  margin-bottom: 20px;
}

.single-container {
  padding: 20px;
  background: #161825;
  display: flex;
  flex-direction: row;
  width: calc(100% - 40px);
  height: auto;

}

  
.image-placeholder {
  max-width: 224px; 
  width: 100%; 
  max-height: 210px;
  height: auto;
  margin: 20px;
  }

.image-placeholder img {
  max-width: 100%; 
  height: auto;
  object-fit: cover; 
}

.text-services {
  text-align: left;
  padding-left: 15px;
}


.icon-placeholder{
  width: 72px;
  height: 72px;
}

/* Slider Container */
.slider-container {
  overflow: hidden; /* Prevents images from spilling out of the container */
  width: 100%; /* Ensures the slider takes full width of its parent */
  border-top: 1px solid rgba(255, 255, 250, 0.16);
  border-bottom: 1px solid rgba(255, 255, 250, 0.16);
  background: #020412;
  margin: 0;
}

/* Slider Wrapper */
.slider-wrapper {
  width: 100%; /* Set width to 100% of the parent container */
  margin: 50px 0 ; /* Reset any margins */
  justify-content: center; 
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Slider */
.slider {
  display: flex; /* Displays images in a row */
  animation: scrollSlider 30s linear infinite; /* Adjust time as per the requirement */
  gap: 12px;
  margin: 10px 0;
}

.slider img {
  display: inline-flex;
  width: 100%;
  object-fit: cover; 
}

/* Slider Animation */
@keyframes scrollSlider {
  0% {
    transform: translateX(0); /* Start offscreen to the right */
  }
  100% {
    transform: translateX(-100%); /* End offscreen to the left */
  }
}

.data-text {
  margin: 0 2%;
  padding-top: 100px;

}

.data-text p {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;

}
.small-block {
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.00);
  box-shadow: 0px 0px 0px 20px #FFFFFA inset;
  display: inline-block;
  vertical-align: middle;

}

.data-text h1{
  margin-top: 3px;
}

.data-text h2 {
  margin-top: -37px;
}

.contactus {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns vertically */
  align-items: center; /* Aligns horizontally */
  height: 515px; /* You can adjust or remove this if you want the section to grow with the content */
  background-image: url('images/about.svg');
  background-size: cover;
  background-position: center;
  color: #FFFFFA;
  font-family: Inter;
  width: 100%;
  padding: 20px; /* This will give padding all around */
  text-align: center; /* This centers the text of the h1 */
}

.contactus h2 {
  color: #FFFFFA;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 20px; /* Space between the h1 and the button */
  text-align: center; /* Ensures text is centered */
  width: 100%; /* Ensures full width */
}

.button {
  border-radius: 8px;
  background: linear-gradient(82deg, #5EB4BA 2.48%, #2D9BFB 101.77%);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  display: flex; /* Changed from inline-flex to flex */
  padding: 16px;
  justify-content: center;
  align-items: center;
  color: #FFFFFA;
  cursor: pointer; /* Changes the mouse cursor on hover */
  width: fit-content; 
  margin-top: 30px;
  font-family: Inter;
}

.button:hover {
  
  background: linear-gradient(82deg, #459398 2.48%, #0972CE 101.77%);
}

.container-wrapper1, 
.container-wrapper2,
.get-free-quote {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 565px; 
  width: 100%;
  padding: 50px 20px;
  text-align: center;
  position: relative;
  align-items: flex-start;
  margin: 50px 0;
  overflow: hidden;
}


.right-container {
  position: absolute;
  width: 70%;
  height: 100%; 
  left: 0; 
  background: rgba(45, 50, 85, 0.08);
  transform: translateX(55%); 
  z-index: -1; 
}

.textl-container {
  position: relative;
  z-index: 2;
  background-color: #020412;
  width: 50%; 
  padding: 90px 40px; 
  z-index: 10;
}

.left-container {
  position: absolute;
  width: 70%;
  height: 100%; 
  left: 0; 
  background:rgba(45, 50, 85, 0.08);
  transform: translateX(-20%); 
  z-index: -1; 
}

.textr-container {
  position: absolute;
  z-index: 10;
  right: 0;
  background-color: #020412;
  width: 50%; 
  padding: 90px 40px; 

}

.left-container .img-block {
  max-width: 55%;
  max-height: 400px;
  height: auto;
  right: 13%;
  bottom: calc(10%);
}

.right-container .img-block {
  max-width: 60%;
  max-height: 400px;
  height: auto;
  left: 22%;
  bottom: 0;
}

.right-container .img-block img {
  max-width: 500px;
}

.ABN-About .textl-container,
  .ABN-About .textr-container {
  padding: 40px;
}

.ABN-About .left-container .img-block  {
  bottom: calc(19%);
}

.arrow-divider {
  height: 152px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
}

.arrow-icon {
  width: 134px;
  height: 134px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}

.quote-container {
  padding-left: 30px;
  margin-bottom: 120px;;
  padding-bottom: 30px;
  align-items: center;
}


.quote-container button {
  display:inline;
  margin-top: 30px;
  margin-bottom: 30px;

}
.contactus-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 70px;
  width: 100%;
}

.ABN-Contactus .ask-questions .contactus-form,
.ABN-Contactus .ask-questions .form-fields-container 
 { 
  padding-left: 0;
  margin-left: 0;
  display: block;
}

.ABN-Contactus .ask-questions .contactus-row {
  padding-left:  0;
}

.form-fields-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-left: 30px; 
}

.contactus-row {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  padding: 10px;
  align-self: stretch;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="message"]  {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
  padding: 20px 0px;
  margin-left: 50px;
  width: 48%; 
  color: #69696E;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; 
}

input[type="message"]  {
  width: 100%;
}

.ABN-Contactus .ask-questions input[type="text"],
.ABN-Contactus .ask-questions input[type="email"],
.ABN-Contactus .ask-questions input[type="tel"], 
.ABN-Contactus .ask-questions input[type="message"] {
  margin-left:0;
  margin-right: 50px;
  
}

.sendmail-box {
  width: 70%;
  margin-top: 200px;

}

.sendmail-box h3 {
  text-align: center;
  text-transform: uppercase;

}

.ABN-Contactus .ask-questions .quote-container {
  margin-bottom: 0;
  padding-bottom: 0;
}

.ABN-About .container-wrapper1 p,
.ABN-About .container-wrapper2 p {
  margin-bottom: 1em;
  padding-left: 1.5em; 
  position: relative; 
  margin-right: 10px;
  
}

.ABN-About .container-wrapper1 p::before,
.ABN-About .container-wrapper2 p::before {
  content: '•';
  position: absolute;
  left: 0;
  top: 50%; /* Center the bullet vertically */
  transform: translateY(-50%); /* Adjust vertical position */
  font-size: 1em; /* Adjust the size of the bullet if needed */
  color: inherit; 
  
}


.Job-description .decription p {
  margin-bottom: 1em;
  padding-left: 1.5em; 
  position: relative; 
  margin-right: 10px;
}


.Job-description .decription p::before {
  content: '•';
  position: absolute;
  left: 0;
  top: 50%; /* Center the bullet vertically */
  transform: translateY(-50%); /* Adjust vertical position */
  font-size: 1em; /* Adjust the size of the bullet if needed */
  color: inherit; 
}

.Job-description .container {
  align-items: baseline;
}
.decription,
.skills {
  margin-right: 10%;
  
}

.submit-resume  a{
text-align: left;
text-decoration: underline;
color: white;
}

.ABN-About .container-wrapper1, .right-container,
.ABN-About .container-wrapper2, .left-container  {
  z-index: 10; 
}

.ABN-About .container {
  align-items: baseline;
  margin: 10px;
  padding: 40px;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centering the items in the container */
  gap: 20px; /* Space between the items */
  padding: 20px; /* Space around the entire grid */
}

.stat-item {
  flex: 1 0 calc(25% - 40px); /* Adjusting the flex-basis to calculate the right width */
  height: 372px;
  color: #020412;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  transition: transform 0.2s;
}


/* Specific background colors for each box */
.stat-item:nth-child(1) {  background-image: url("images/1.svg"); background-size: cover;}
.stat-item:nth-child(2) {  background-image: url("images/2.svg"); background-size: cover; }
.stat-item:nth-child(3) {  background-image: url("images/3.svg"); background-size: cover; }
.stat-item:nth-child(4) {  background-image: url("images/4.svg"); background-size: cover;}



.stat-number { 
  color: #020412; 
  font-family: Inter;
  font-size: 86px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.stat-description {
  color: #020412;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
  padding-top: 30px;
  }

.ABN-Careers .container,
.ABN-Contactus .container {
  padding-left: 40px;
  width: calc(50% - 40px);
  padding-bottom: 40px;
  align-items: baseline;
  }

  .ABN-Contactus .offices .single-container .container,
  .ABN-Contactus .offices .single-container  {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .ABN-Contactus .offices .single-container .container{
    border-radius: 10px;
    overflow: hidden;
  }

  .ABN-Contactus .offices .single-container .container::before{
    border-radius: 10px;
  }

  .ABN-Contactus .offices .row .container {
    width: calc(50% - 10px);
    border: 1px solid #A1AEBF;
    background: #161825;
  }

  .ABN-Contactus .offices .row {
    margin-left: 0;
    margin-right: 0;
  }
  
  .ABN-Contactus .container {
    align-items: center;
    margin-bottom: 50px;

  }

  .single-container .container {
    width: calc(100% - 40px);
    margin: 0;
    height: 441px;
  }

  .ABN-Job .single-container .container {
    width: calc(100% - 40px);
    margin: 0;
    height: auto;
  }

  .job-info {
    display: flex; 
    justify-content: space-around; 
  }

  .job-info .container {
    width: calc(25% - 40px);
    margin: 0;
    height: 120px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }


  .ABN-Careers .container h3{
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
  }

  .ABN-Contactus .container p {
    padding: 0;
    margin: 0;
  }

  .button-location {
    display: inline-flex;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 68px;
    border: 1px solid #FFF;
    background: #161825;
    color: var(--Grey-70, #B3B3B3);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
  }

  .button-applynow{
    display: inline-flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FFF; 
    text-align: center;
    font-family: Inter;
    font-size: 17.016px;
    font-weight: 700;
    line-height: 24px; /* 141.047% */
    letter-spacing: 2.5px;
    text-transform: uppercase;

  }

  .button-applynow a { 
    color: #FFF;
    text-decoration: none;
  } 

  .button-applynow:hover{
    background: rgba(255, 255, 255, 0.10);
  }
  
.appdev,
.offer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-top: 10px;
  justify-content: space-between;
  position: relative;
}

.services-container {
  flex: 1 1 60%;
  max-width: calc(100% - 35%); 
  padding: 20px;
  background-color: transparent;
  margin: 10px;
  border-radius: 5px;
}

.img-block {
  max-width: 25%;
  max-height: 310px;
  margin: 10px;
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
  right: 0;

}

.img-block img {
  width: 100%;
  height: auto;
}

.methodologies .container,
.approach .container {
  background: transparent;
  border-radius: 4px;
  border: 1px solid #A1AEBF;
  align-items: baseline;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;

}

.approach .container h3{
  margin: 0;
}

.methodologies h2,
.our-process h2{
  text-align: center;
  line-height: 62px
}
 
.methodologies .container h3{
  font-weight: 400;
  line-height: 36px; 
  padding: 0;
  margin: 0;
}

.methodologies .container p,
.our-process p{ 
  color: rgba(255, 255, 255, 0.60);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.28px;

}

.our-process .container {
  width: calc(50% - 40px);
  align-items: center;
  flex-direction: row;
}

.our-process h4{
  color: var(--Absolute-White, #FFF);
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  padding: 0;
  margin: 0;
  text-align: left;

}

.number {
  color: #FFF;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding: 10px;

}

.process-data {
  padding-left: 20px;
  padding-top: 0;
}


.container-60,
.container-40 {
  display: flex;
}

.container-60 h2{
  flex: 20%;
  margin-right: 10%;
}

.container-60 .single-container{
  flex: 1 1 60%;
  width: 100%;
  position: relative;
  right: 0;
  padding: 0 10px 0 ;
  margin: 0;
  align-items: center;
} 

.container-40 .single-container{
  flex: 50%;
  width: 60%;
  position: relative;
  right: 0;
  padding: 0 10px 0 ;
  margin: 0;
  align-items: center;
} 

.container-40 .content{
  flex: 40%;
  padding-left: 20px;
  margin-right: 10%;
  padding-top: 0;
}
.container-40 h2 {
  margin: 0;
}


.whyus .single-container {
  display: block;
  width: auto;
  background: transparent;
}

.whyus h2{
  text-align: center;
}

.whyus .single-container  .content  p {
  text-align: center;
  padding: 0 20px;
  width: auto;
}

.whyus .single-container p {
  text-align: left;
  width: 85%;
}

.whyus .small-container {
  display: block;
  background: #161825;
  width: 70%;
  margin: 0 10%;
  padding: 20px;
}

.whyus .small-container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  gap: 0;
}

.box {
  border-radius: 4px;
  border: 1px solid #A1AEBF;
  margin-right: 10px;
  width: calc(50% - 5px);
  margin-bottom: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.single-box {
  width: 50%;
}

.box:nth-child(even) {
  margin-right: 0; 
}

.whyus .small-container h4 {
  color: var(--Absolute-White, #FFF);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; 
  letter-spacing: 1px;
  text-transform: capitalize;
}



.image-wrapper { 
  position: relative; 
}

.image-wrapper svg {
  position: absolute;
  bottom: -22%;
  right: -5%;
  max-width: 50%; 
  height: auto;

}

.offer{
  position: relative;
  margin-bottom: 4%;
}

.offer .img-block {
  left: 0;
  position: relative;
  align-items: baseline;

} 

.offer .services-container {
  flex: 1 1 40%;
  padding: 20px;
  background-color: transparent;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
}

.offer .services-container p {
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}

.offer .services-container .opening-quote { 
  height: 48px;
  font-size: 34px;
  font-weight: 400;
  line-height: 48px;
}

.approach .container {
  width: calc(50% - 30px);
}

.approach h2 {
  text-align: center;
}

.approach p {
  color: rgba(255, 255, 255, 0.60);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.36px;
}

.ABN-Staffing .staffing .row .container:hover{
  background: #23263A;
}

.ABN-Staffing .staffing .row .container a:hover{
  background: linear-gradient(90deg, #33A8D4 0%, #FDE14D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ABN-Mobile .our-process .container,
.ABN-Staffing .our-process .container {
  padding: 0 20px  0;
}

.ABN-Mobile .our-process .single-container,
.ABN-Permanent .our-approach .single-container,
.ABN-Staffing .our-process .single-container {
  padding: 0 20px 0;
  width: calc(50% - 40px);
  align-items: center;

}

.single-row {
  display: block;
  margin-left: 30px;
}

.ABN-Mobile .our-process .single-row,
.ABN-Staffing  .our-process .single-row,
.ABN-Permanent  .our-approach .single-row,
.ABN-Contract  .our-process .single-row {
  display: block;
  margin-left: 30px;
}

.ABN-Mobile .contactus ,
.ABN-Permanent .contactus ,
.ABN-TechnicalStaffing .contactus ,
.ABN-Contract .contactus{
  height: auto;
  padding: 50px 0 ;
  
}

.ABN-Mobile .contactus p,
.ABN-Contract .contactus p{
  color: #FFFFFA;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 218.75% */
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0 10%;
}

.ABN-TechnicalStaffing .contactus h5,
.ABN-Permanent .contactus h5 {
  margin: 0 10%;
  padding-bottom: 20px;
  text-align: center;
}

.ABN-TechnicalStaffing .contactus p,
.ABN-Permanent .contactus p {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin: 0 10%;
  padding-bottom: 10px;
}

.ABN-Contract .contactus p{
  margin: 3%;
}


.ABN-Staffing .whyus .container,
.ABN-Permanent .our-approach  .container{
 align-items: baseline;
}

.ABN-Mobile .our-process .container p, 
.ABN-Mobile .our-process .single-container p, 
.ABN-Staffing .our-process .single-container p, 
.ABN-Permanent .our-process .single-container p, 
.ABN-Staffing .our-process .container p,
.ABN-Permanent .our-process .container p {
  color: var(--Absolute-White, #FFF);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
}

.ABN-Staffing .our-process h5,
.ABN-Permanent .our-approach h5,
.ABN-Contract .contactus h5 {
  padding: 0 30px;
  text-transform: capitalize;

}

.ABN-Contract .contactus {
  padding: 2%;
}

.ABN-ManagedServices .our-approach .single-container,
.ABN-Contract .our-process .container,
.ABN-Permanent .our-approach .container,
.ABN-Contract .our-process .single-container,
.ABN-Permanent .our-approach .single-container {
  flex-direction: column;
  width: calc(50% - 40px);

}

.ABN-ManagedServices .our-approach .container,
.ABN-TechnicalStaffing .our-approach .container,
.ABN-Permanent .our-process .container,
.ABN-Permanent .our-process .single-container {
  width: calc(50% - 40px);
}

.ABN-ManagedServices .our-approach .single-container,
.ABN-Contract .our-process .single-container, 
.ABN-Permanent .our-approach .single-container{ 
  width:calc(50% - 40px)

}

.ABN-Permanent .our-approach .container p, 
.ABN-Permanent .our-approach .single-container p {
  padding-left: 20px;
}

.ABN-Permanent .our-process .container h5 {
  margin: 0;
}

.ABN-TechnicalStaffing .our-approach h2,
.ABN-Permanent .our-approach h2 {
  text-align: center;
}

.ABN-TechnicalStaffing .our-approach h2 {
  padding: 0 10%;
}

.ABN-TechnicalStaffing .our-approach p {
  padding: 0 20px ;
}

.ABN-TechnicalStaffing .challenges .single-container {
  flex-direction: column;
  background: transparent;
}
.ABN-TechnicalStaffing .challenges .single-container h2 {
  text-align: center;
}



.ABN-TechnicalStaffing .challenges .single-container p {
  margin: 0 3%;
  text-align: center;
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

.ABN-TechnicalStaffing .container-60 .single-container {
  margin-left: 20%;
}

.ABN-TechnicalStaffing .container-60 .single-container p{
  color: var(--Absolute-White, #FFF);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; 
}

.ABN-TechnicalStaffing .contactus h5, 
.ABN-TechnicalStaffing .container-60 h5{
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: none;
}

.ABN-TechnicalStaffing .offer .services-container {
  padding: 0;
  margin-right: 10%;
  margin-left: 0;
  max-width: calc(100% - 55%);
}

.ABN-TechnicalStaffing .offer .image-wrapper svg {
  left: -30%;
  bottom: -29%;
}

.ABN-TechnicalStaffing .offer {
  padding-top: 0;
}

.ABN-TechnicalStaffing .what-we-offer h2{
  text-align: right;
  
}

.ABN-TechnicalStaffing .offer .single-container {
  align-items: center;
  padding: 0;
}

.ABN-ManagedServices .contactus {
  align-items: baseline;
}

.ABN-ManagedServices .contactus h5,
.ABN-ManagedServices .contactus p {
  text-transform: none;
  padding: 0 5%;
}

.ABN-Staffing .staffing .container {
  width: calc(25% - 40px);
  align-items: baseline;
}


.ABN-Staffing .staffing .row {
  justify-content: flex-start;
}


.ABN-Staffing .staffing  {
  margin-top: 30px;
}


.ABN-Staffing .staffing  a {
  text-decoration: none;
  color: #FFFFFA;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-top: 15px;

}





@media (max-width: 1440px) {
  .nav-wrapper div ul {
    gap: 75px;
  }
  
  .link {
    top: 11px;
  }

  .link-get-in-touch {
    bottom: 3px;
  }

  .left-container .img-block {
    bottom: 6%;
  }

  
}

@media (max-width: 1200px) {
  .nav-wrapper div ul {
    gap: 40px;
  }
  
  .link {
    top: 11px;
  }
  
  .link-get-in-touch {
    bottom: 3px;
  }


  .left-container .img-block {
    bottom: 0;
  }
  
  .image-wrapper svg {
    bottom: -25%;
    right: -8%;
  }
  

}

@media (max-width: 1024px) {

  h2 {
    font-size: 35px;
  }
  .nav-wrapper div ul {
    gap: 25px;
  }

  .nav-wrapper div ul li a,
  .navbar  label{  
    font-size: min(max(12px, calc(0.9rem + 0.5vw)), 14px); 
  
  }

  .nav-wrapper .submenu a {
    font-size: 11px;
  }

  .link {
    top: 10px;
    right: 10px;
  }
  
  .link-get-in-touch {
    bottom: 3px;
  }

  .get-free-quote {
    height: 1015px; 
    padding: 20px 20px;

  }

  .contactus-form {
    flex-direction: column;
    padding: 20px;
  }

  .arrow-container {
    font-size: 48px; /* Adjust size for smaller screens */
    order: -1; /* Make sure the arrow appears on top */
  }

  .form-fields-container {
    margin-left: 0;
  }

  .contactus-row {
    flex-direction: column;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%; /* Full width for smaller screens */
  }

  .logo-link, .tech-corp {
    left: 25px;
  }

  .image-wrapper svg {
    bottom: -30%;
    right: -11%;
  }
  
}




@media (max-width: 768px) {

  body, html {
    height: 100%;
    margin: 0;
  }

  .header {
    padding: 20px 20px 40px;
  }

  main {
    flex: 1; 
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px; 
    line-height: 1.2; 
  }

  h3{
    font-size: 15px; 
    line-height: 1.2; 
  }

  h4{
    font-size: 18px; 
    line-height: 1.5; 
    text-align: left;
  }


  h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;

  }

  .logo-link, .tech-corp {
    left: 55px;
  }

  .container {
    width: calc(50% - 40px);
  }
  
  .main-container { 
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
  }

  .top-gradient {
    width: 100%; 
  }

  .nav-wrapper {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 20px 0; 
    z-index: 102; 
  }

  input[type="checkbox"]{
    display: none;
  }
  
  .navbar li,
  .navbar ul,
  .navbar label {
    display: none;
  }

  .mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    z-index: 999;
    overflow-y: auto; /* Enable scrolling if content is too long */
    padding-top: 50px; /* Adjust according to your needs */
}

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 998;
  }

  #active:checked ~ .overlay,
  #active:checked ~ .mobile-nav {
    display: block;
  }

  .menu-icon {
    position: absolute;
    top:  26px;
    left: 12px;
    margin: 15px;
    font-size: 30px;
    cursor: pointer;
    display: block;
    z-index: 1000; /* Ensure it's above the overlay */

  }

  .menu-icon:before {
    content: "\2630"; /* Hamburger icon */ 
  }

  #active:checked ~ .menu-icon:before {
    content: "\2716";  /* X icon */
  }

  #active:checked ~ .menu-icon {
    left: unset; /* Reset left position on click */
    top: 30px;
    right: 10px;
    z-index: 1002;
  }


  .mobile-nav .logo-link {
    position: relative;    
    display: flex;         /* Activate Flexbox */
    flex-direction: row;   /* Align items horizontally */
    align-items: baseline;   /* Vertically center items */
    width: 100%;           /* Ensure the container takes full width */
    left: 0;
    gap: calc(10% - 5px);
    margin-left:35px;
  }
    

  .mobile-nav .mobile-logo {
    width: 90px;
    height: 23px;
  }
  .mobile-nav .mobile-tech-corp {
    color: #FFF;
    font-family: Poppins;
    font-size: 7.002px;
    font-style: normal;
    font-weight: 400;
    line-height: 9.156px; /* 130.769% */
    letter-spacing: 6.441px;
    padding-top: 0;
    margin-top: 0;
  }

  .mobile-nav .link-get-in-touch {  
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #E9792F 0%, #FDE14D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    }

  .sidenav {
    margin-top: 5%;
    position: relative; /* Change from fixed to relative */
    z-index: 1001; /* Ensure it's above the overlay and menu-icon */
    display: block; /* Show the side navigation when menu is active */
    color: white; /* Set text color to white */
}

  .sidenav a,
  .sidenav h4, 
  .dropdown-btn {
    padding: 6px 6px 12px 35px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  .white-line{
    position: absolute;
    height: 2px;
    width: calc(90%);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #fffffa24;
    overflow: hidden;
    margin-left: calc(5% - 5px);
  }

  .sidenav .dropdown-container a {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 1px;
    text-transform: capitalize;
  }

  .sidenav .dropdown-container h4 {
    margin-bottom: 0;
    padding-bottom: 10px;
    color: #8B8B8B;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover, .active {
    background: linear-gradient(90deg, #33A8D4 0%, #FDE14D 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  .dropdown-container {
    display: none;
    background-color: transparent;
    padding-left: 8px;
  }




  .logo {
    position: absolute;
    width: 117px;
    height: 35px;
    top: 20px;
    z-index: 0;
    
  }

  .tech-corp {
    position: absolute;
    height: 12px;
    top: 55px;
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 9.1px;
    letter-spacing: 8.38px;
    line-height: 11.9px;
    white-space: nowrap;
    z-index: 0;
  }


  .footer-container {
    display: block; 
    justify-content: space-between;
    padding: 20px;
    padding-top: 100px;

  }

  .footer-main, .footer-bottom {
    flex-direction: column; /* Stack elements vertically */
    align-items: left; /* Center-align the child elements */
    text-align: left; /* Ensure text is centered as the elements are now stacked */
  }

  .footer-section, .footer-bottom {
    width: 100%; /* Ensure they take the full width of their container */
    margin-right: 0; /* Reset any right margin that might be present */
  }

  .social-icons {
      margin-top: 10px; /
  }

  .social-icon {
    margin: 0 5px; /* Adjust spacing around social icons for smaller screens */
  }

  .footer-line{

    position: absolute;
    height: 2px;
    left: 50px;
    width: calc(100% - 120px);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #fffffa24;
  }

  .hero-vector {
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    max-width: 100%;
    top: -100px;
  }

  .ABN-Contactus .container {
    align-items: baseline;
    width: 100%;
  }

  .ABN-Contactus .row {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
  }
.contactus {
    padding: 100px 10px 100px;; 
    height: auto; 
  }


  .contactus   h2 {
    font-size: 18px; 
    line-height: 1.2; 
  }
  .button {
    padding: 12px 24px; 
    margin: 10px 0;
  }

  .container-wrapper1, 
  .container-wrapper2 {
    align-items: flex-start; 
    height: auto; 
    padding: 20px 20px;
    margin: 20px 0 50px;
    width: 100%;
  }

  .get-free-quote {
    height: 815px; 
    padding: 20px 20px;
    margin: 0;

  }

  
  .textr-container, 
  .textl-container  {
    position: relative; /* Change position to relative for better control on mobile */
    width: 100%; /* Use the full width for mobile views */
    padding: 20px; /* Adjust padding to ensure text doesn't touch the edges */
    text-align: left; /* Ensure text aligns to the left */
  }

  
  .contactus-form,
  .form-fields-container,
  .contactus-row {
    align-items: flex-start;
    padding: 0px;
  }

 
  .form-fields-container {
    margin-right:10px;
  }
  
  .quote-container {
    padding-left: 15px;
    width: 100%;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  .sendmail-box {
    width: 100%;
    margin-left: 0;
    padding: 10px 0px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    margin-bottom: 25px;
  }
  
  .sendmail-box h3 {
    margin-top: 10px;
    text-align: left;
  }

  .container,
  .our-process .container,
  .our-process .single-container 
 {
    width: 100%; /* Full width for mobile devices */
    margin-bottom: 20px; /* Keep consistent spacing */
    padding: 20px;
  }

  .stat-item {
    transform: scale(0.8); /* Scale down the size */
  }

  .ask-questions {
    margin-top: 100px;
    margin-bottom: 0;
  }

  
.ABN-Contactus .ask-questions .quote-container {
  margin-bottom: 50px;
}

  .job-info {
    flex-wrap: wrap;
  }

  .job-info .container {
    width: calc(50% - 40px);
    height: auto;

  }

  .container-60{
    display: block;
  }
  
  .container-60 h2,
  .container-40 h2,
  .whyus h2,
  .what-we-offer h2{
    font-size: 25px;
    text-align: left;
    
  }
  
  .container-60 .single-container {
    width: 70%;
    position: relative;
    right: 0;
    padding: 0 10px 0 ;
    margin: 0;
    align-items: center;
  } 

  .container-40 {
    flex-direction: column-reverse;
  }

  .container-40 .content p {
    font-size: 16px;
  }

  .whyus .small-container {
    margin: 0;
    width: auto;
  }
  .whyus .small-container .row{ 
    display: block;
    align-items: baseline;

  }
  .whyus .small-container .box{ 
    display: flex;
    width: 100%;

  }

  .whyus .small-container h4,
  .ABN-TechnicalStaffing .contactus h5,
  .ABN-TechnicalStaffing .challenges .single-container p {
    text-align: left;
  }

  .offer,
  .approach .row ,
  .our-approach .row  {
    flex-direction: column;
    padding-left: 0;
    margin-left: 0;
  }

  .our-approach .row,
  .our-process .row {
    margin-bottom: 20px;
  }

  .offer .services-container,
  .approach .container  {
    margin-left: 0;
    margin-right: 0;
    max-width:100%;
    width: 100%;

  }

  .ABN-ManagedServices .our-approach .single-container, 
  .ABN-ManagedServices .our-approach .container, 
  .ABN-TechnicalStaffing .our-approach .container, 
  .ABN-Permanent .our-approach .container, 
  .ABN-Permanent .our-process .container, 
  .ABN-Permanent .our-process .single-container, 
  .ABN-Mobile .our-process .single-container,
  .ABN-Staffing .our-process .single-container,
  .ABN-Contract .our-process .single-container,
  .ABN-Permanent .our-approach .single-container {
    width: 100%;
    margin: 0;
    align-items: baseline;      /* APPLIED THIS CHANGE TO REFLECT ON MOST OF THE PAGES*/

  }

  .ABN-Staffing .our-process .single-row,
  .ABN-ManagedServices .our-approach .single-row ,
  .ABN-Permanent .our-approach .single-row,
  .ABN-Permanent .our-process .single-row {
    margin-left: 0;
  }


  .ABN-TechnicalStaffing .container-60 .single-container {
    margin-left: 0;
  }

  .ABN-TechnicalStaffing .offer .single-container {
    align-items: center;
    padding: 0;
  }

  .ABN-TechnicalStaffing .offer .services-container {
    max-width: calc(100%);
  }
  
  .ABN-TechnicalStaffing .offer .image-wrapper svg {
    right: -20%;
    bottom: -27%;
    left: unset;
    width: calc(100% - 50%);
  }

  
  .ABN-TechnicalStaffing .offer .row{
    justify-content:flex-start;
    width: auto;
  }
  
  .ABN-TechnicalStaffing .what-we-offer h2{
    text-align: left;
    
  }

  .ABN-Staffing .staffing .container {
    width: calc(50% - 40px);
  }

  .appdev .img-block{
    position: unset;
    max-width: 50%;
  }

  .appdev .services-container {
    max-width: 100%;
  }

  .container-wrapper1,
  .container-wrapper2 {
    display: flex;
    height: auto;
    flex-direction: column-reverse;
    align-items: baseline;
  }

  .right-container,
  .left-container {
    position: static;
    transform: translateX(0); 
    width: 100%;
    height: calc(250px);
    margin-top: 25px;
 
  }

  .right-container .img-block,
  .left-container .img-block  {
    max-width: 50%;
    left: 0;
  }

  .ABN-About .left-container .img-block {
    bottom: calc(-18%);
  }

  .left-container {
    margin-top: 60px;
    left:0;
    position: relative;
    display: flex;
    align-items: baseline;
  }

  .ABN-Contactus .offices .row .container {
    width: 100%;
  }

  .ABN-Contract .services-gradient {
    top: 35%;
    left: -16%;
  }
  
  .ABN-TechnicalStaffing .services-gradient {
    top: 39%;
    left: 0%;
  }

  .ABN-ManagedServices .services-gradient {
    top: 39%;
    left: 0%;
  }

}


 
@media (max-width: 480px) {


  h5 {
    font-size: 14px;
  }
  .main-container{
    padding-right: 0;
  }


  .container {
    width: 100%;

  }
  .image-placeholder {
    width: 50%;
  }
  .container  h2{
    font-size: 30px;

  }

  .container h3{
    font-size: 20px;

  }

  .arrow-icon {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
  }
  
  .quote-container,
  .contactus-form {
    padding: 0 15px; /* Adjust padding as needed */
  }
  
  .quote-container button {
    width: 100%;
    padding: 15px 0; /* Adjust padding as needed for better tap targets */
  }

  .textl-container {
    width: 100%; 
    margin-right: 70px;
    
  }

  .textr-container {
    width: 100%; 
    display: block;
  }

  .ABN-Careers .container {
    width: 80%;
    padding-left: 20px; 
    padding-bottom: 40px;
    align-items: baseline;
    
    }

    .ABN-Careers  .row {
      justify-content: left; /* Center the containers on small screens */
    }

    
  .ABN-Job .single-container .container {
    width: calc(100% - 40px);
    margin: 0;
    height: auto;
  }

  .decription,
  .skills {
    margin-right: 0;
  }


  .services-container {
    max-width: calc(100%); 
  }
  
  .ABN-Staffing .staffing .container {
    width: calc(100% - 40px);
  }
  
  .ABN-Staffing .staffing .row {
    display: block;
    width: 100%;
  }

  .right-container,
  .left-container {
    height: calc(180px);
    margin-top: 5px;
 
  }

  .services-gradient {
    left: 0;
  }


}